.brandCircleContainer {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: linear-gradient(180deg, #0083FE 0%, #091CD0 100%);
    box-shadow: 0 1px 9px rgba(102, 102, 102, 0.11);
    position: relative;
}

.brandCircleContainer img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
